{% extends 'layout.app.html.twig' %}

{% block js %}
    {% webpack_entry_js 'Admin/admin.js' %}
{% endblock %}

{% block content %}
    <div class="uk-container-expand uk-padding-small" uk-height-viewport="expand: true">
        <div class="uk-grid uk-grid-small uk-child-width-1-5@s uk-flex-center uk-text-center"
             uk-grid
             uk-height-match="target: .uk-card">
            {% for host in hosts %}
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <p>{{ host.name }}</p>
                        <img class="img" src="{{ host.img }}" alt="Server">
                    </div>
                </div>
            {% endfor %}
            <div id="object-selector">
                <object-selector objects="{{ templates }}"/>
            </div>
        </div>
    </div>


{% endblock %}