<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% webpack_entry_css 'vendors' %}
    {% webpack_entry_css 'Layout' %}
    {% block css %}{% endblock %}
</head>
<body>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{{ url_for('auth') }}">Login</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="https://zently.ch">Support</a></li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}

{% webpack_entry_js 'vendors' %}
{% webpack_entry_js 'Layout' %}
{% block js %}{% endblock %}
</body>
</html>
